In [1]:
import pandas as pd
import numpy as np

In [12]:
# -----------------------------------
# ラグ変数
# -----------------------------------
# データの読み込み
train_x = pd.read_csv('./time_series_train.csv')
event_history = pd.read_csv('./time_series_events.csv')
train_x['date'] = pd.to_datetime(train_x['date'])
event_history['date'] = pd.to_datetime(event_history['date'])
# -----------------------------------

In [13]:
occurrences = pd.DataFrame(dates, columns=['date'])
sale_history = event_history[event_history['event'] == 'sale']

In [19]:
sale_history

         date event
0  2018-01-03  sale
4  2018-05-03  sale
5  2018-05-04  sale
6  2018-05-05  sale
21 2018-12-30  sale

In [14]:
occurrences['sale'] = occurrences['date'].isin(sale_history['date'])

In [18]:
sum(occurrences['sale'] == True)

5

In [15]:
occurrences['sale'].cumsum()

0      0
1      0
2      1
3      1
4      1
      ..
360    4
361    4
362    4
363    5
364    5
Name: sale, Length: 365, dtype: int64

In [2]:


# train_xは学習データで、ユーザID, 日付を列として持つDataFrameとする
# event_historyは、過去に開催したイベントの情報で、日付、イベントを列として持つDataFrameとする

# occurrencesは、日付、セールが開催されたか否かを列として持つDataFrameとなる
dates = np.sort(train_x['date'].unique())
occurrences = pd.DataFrame(dates, columns=['date'])
sale_history = event_history[event_history['event'] == 'sale']
occurrences['sale'] = occurrences['date'].isin(sale_history['date'])

# 累積和をとることで、それぞれの日付での累積出現回数を表すようにする
# occurrencesは、日付、セールの累積出現回数を列として持つDataFrameとなる
occurrences['sale'] = occurrences['sale'].cumsum()

# 日付をキーとして学習データと結合する
train_x = train_x.merge(occurrences, on='date', how='left')

In [3]:
train_x

       user_id       date  target  sale
0            1 2018-01-01       1     0
1            1 2018-01-02       1     0
2            1 2018-01-03       1     1
3            1 2018-01-04       1     1
4            1 2018-01-05       0     1
...        ...        ...     ...   ...
36495      100 2018-12-27       0     4
36496      100 2018-12-28       1     4
36497      100 2018-12-29       1     4
36498      100 2018-12-30       1     5
36499      100 2018-12-31       1     5

[36500 rows x 4 columns]